<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Hello World</title>

  <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
  


  <!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700,900" rel="stylesheet">

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/font-awesome.min.css">
	<link type="text/css" rel="stylesheet" href="/css/style.css" />

      <!-- link rel="stylesheet" href="css/style.css"> -->
<style >
	


#exTab1 .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

/*#exTab2 h3 {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}
*/
/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
  border-radius: 0;
}




</style>
  
</head>

<body>


	<!-- Header -->
	<header id="header" class="transparent-navbar">
		<!-- container -->
		<div class="container">
			<!-- navbar header -->
			<div class="navbar-header">
				<!-- Logo -->
				<div class="navbar-brand">
					<a class="logo" href="/">
						<img class="logo-img" src="/img/techniiclogo3.png" alt="logo">
						<img class="logo-alt-img" src="/img/techniiclogo2.png" alt="logo">
					</a>
				</div>
				<!-- /Logo -->

				<!-- Mobile toggle -->
				<button class="navbar-toggle">
						<i class="fa fa-bars"></i>
					</button>
				<!-- /Mobile toggle -->
			</div>
			<!-- /navbar header -->

			<!-- Navigation -->
			<nav id="nav">
				<ul class="main-nav nav navbar-nav navbar-right">
					<li><a href="/#home">Home</a></li>
					<li><a href="/#about">About</a></li>
					<li><a href="/#schedule">Schedule</a></li>
					<li><a href="/#speakers">Workshops</a></li>
					<li><a href="/#sponsors">Cordinators</a></li>
					<li><a href="/#contact">Contact</a></li>
				</ul>
			</nav>
			<!-- /Navigation -->
		</div>
		<!-- /container -->
	</header>
	<!-- /Header -->
	<!-- Home -->
	<div id="home">
		<!-- background image -->
		<div class="section-bg" style="background-image:url(/img/background.jpg)" data-stellar-background-ratio="0.5"></div>
		<!-- /background image -->

		<!-- home wrapper -->
		<div class="home-wrapper">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- home content -->
					<div class="col-md-8 col-md-offset-2">
						<div class="home-content">
							<h1>Welcome to TechniiC</h1>
							<h4 class="lead">A place to improve your techniques.</h4>
							<a href="/#contact" class="main-btn">Contact</a>
						</div>
					</div>
					<!-- /home content -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /home wrapper -->
	</div>
	<!-- /Home -->
	<br>





  
<div class="container" style="text-align: center;" ><h1 style="color: #001A28; box-shadow: 5px;">Hello World !  </h1></div>
<div id="exTab1" class="container" style="color: #dd0a37";>	
<ul  class="nav nav-pills">
			<li class="active">
        <a  href="#1a" data-toggle="tab">Overview</a>
			</li>
			<li><a href="#2a" data-toggle="tab">Schedule</a>
			</li>
			<li><a href="#3a" data-toggle="tab">Results</a>
			</li>
  	<!-- 	<li><a href="#4a" data-toggle="tab">Background color</a>
			</li> -->
		</ul>

			<div class="tab-content clearfix" style="background-color: #000;">
			  <div class="tab-pane active" id="1a">
        <!--   <h3>Content's background color is the same for the tab
          hzdlkfkldfzkl
          ;lfj;zdf
          sdjfjlkjzdf
          fzsszkl;zdfdl;gzdfl;ff
          fzdzfgl';zdfbkzdf
          g</h3> -->
          <div class="row">
          	<div class="col-md-6 col-sm-6">
          		<h1 style="color: #fff;">Hello World !</h1>
          		<br>
          		<span> 
          		A coding competetion to bring together all the passionate coders from various branches of the college to showcase their coding skills and dedication towards it.The problem statements for the competetion were specially designed by Codevita and Google CodeJam Qualifiers, to give the participants a professional experience that they would face in the industry.  </span>
          	</div>
          	<div class="col-md-6 col-sm-6">
          		<img src="/img/hello_world.png" style="width: 100%; height: 120%; box-shadow: 11px 11px 16px #111;">
          	</div>

          </div>
				</div>
				<div class="tab-pane" id="2a">
          <h1>  <pre style="text-align: center;"> Date : 13 Oct 2018</pre ></h1>
          <h1>  <pre style="text-align: center;"> Time : 8:00PM - 10:00PM</pre></h1>
				</div>
        <div class="tab-pane" id="3a">
          <h1 style="color: #fff;"> Overall Winners-</h1>

			<ul style="list-style-type: circle; margin-left: 40px;">
			<li > <pre style="font-weight: bold;
    font-size: medium;">Jagmeet Singh (C.S. 3rd year)      Prize(₹400)</pre></li>
    <li > <pre style="font-weight: bold;
    font-size: medium;">Palash Gole (C.S. 3rd year)        Prize(₹275)</pre></li>
    <li > <pre style="font-weight: bold;
    font-size: medium;">Vikas Kumar Gupta  (C.S. 4th year) Prize(₹175)</pre></li>
    <br>
     <h2 style="color: #fff;"> MCA Winner-</h2>
    <li > <pre style="font-weight: bold;
    font-size: medium;">Vikas Jain (MCA) Prize(T-shirt)</pre></li>
    <h2 style="color: #fff;"> 1st Year Winner-</h2>
    <li > <pre style="font-weight: bold;
    font-size: medium;">Hrishabh Meid (I.T. 1st year)  Prize(T-shirt)</pre></li>
    <h2 style="color: #fff;"> 2nd Year Winner-</h2>
    <li > <pre style="font-weight: bold;
    font-size: medium;">Siddhant Singh  (C.S. 2nd year)  Prize(T-shirt)</pre></li>
			</ul>
				</div>
   <!--        <div class="tab-pane" id="4a">
          <h3>We use css to change the background color of the content to be equal to the tab</h3>
				</div> -->
			</div>
  </div>
  <br>

  <!-- Footer -->
	<footer id="footer" style="background-color: #000">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">

				<!-- footer logo -->
				<div class="col-md-4 col-md-push-4">
					<div class="footer-brand">
						<a class="logo" href="index.html">
							<img class="logo-img" src="./img/techniiclogo2.png" alt="logo">
						</a>
					</div>
				</div>
				<!-- /footer logo -->

				<!-- contact social -->
				<div class="col-md-4 col-md-push-4">
					<div class="contact-social">
						<a href="https://m.facebook.com/techniic/?ref=bookmarks"><i class="fa fa-facebook"></i></a>
						<a href="https://www.instagram.com/techniic_2k19/"><i class="fa fa-instagram"></i></a>

					</div>
				</div>
				<!-- /contact social -->

				<!-- copyright -->
				<div class="col-md-4 col-md-pull-8">
					<span class="copyright">
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved by TechniiC. </span>				
					</div>
				<!-- /copyright -->

			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</footer>
	<!-- /Footer -->

<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
  
  </body>
  </html>

