<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Humbleweb</title>

  <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
  
  
  <!-- <link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'> -->

  <!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700,900" rel="stylesheet">

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/font-awesome.min.css">
	<link type="text/css" rel="stylesheet" href="/css/style.css" />

      <!-- link rel="stylesheet" href="css/style.css"> -->
<style >
	


#exTab1 .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}



#exTab1 .nav-pills > li > a {
  border-radius: 0;
}





</style>
  
</head>

<body>


	<!-- Header -->
	<header id="header" class="transparent-navbar">
		<!-- container -->
		<div class="container">
			<!-- navbar header -->
			<div class="navbar-header">
				<!-- Logo -->
				<div class="navbar-brand">
					<a class="logo" href="/">
						<img class="logo-img" src="/img/techniiclogo3.png" alt="logo">
						<img class="logo-alt-img" src="/img/techniiclogo2.png" alt="logo">
					</a>
				</div>
				<!-- /Logo -->

				<!-- Mobile toggle -->
				<button class="navbar-toggle">
						<i class="fa fa-bars"></i>
					</button>
				<!-- /Mobile toggle -->
			</div>
			<!-- /navbar header -->

			<!-- Navigation -->
			<nav id="nav">
				<ul class="main-nav nav navbar-nav navbar-right">
					<li><a href="/#home">Home</a></li>
					<li><a href="/#about">About</a></li>
					<li><a href="/#schedule">Schedule</a></li>
					<li><a href="/#speakers">Workshops</a></li>
					<li><a href="/#sponsors">Cordinators</a></li>
					<li><a href="/#contact">Contact</a></li>
				</ul>
			</nav>
			<!-- /Navigation -->
		</div>
		<!-- /container -->
	</header>
	<!-- /Header -->
	<!-- Home -->
	<div id="home">
		<!-- background image -->
		<div class="section-bg" style="background-image:url(/img/background.jpg)" data-stellar-background-ratio="0.5"></div>
		<!-- /background image -->

		<!-- home wrapper -->
		<div class="home-wrapper">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- home content -->
					<div class="col-md-8 col-md-offset-2">
						<div class="home-content">
							<h1>Welcome to TechniiC</h1>
							<h4 class="lead">A place to improve your techniques.</h4>
							<a href="/#contact" class="main-btn">Contact</a>
						</div>
					</div>
					<!-- /home content -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /home wrapper -->
	</div>
	<!-- /Home -->
	<br>





  
<div class="container" style="text-align: center;" ><h1 style="color: #001A28; box-shadow: 5px;">Humble Web  </h1></div>
<div id="exTab1" class="container" style="color: #dd0a37";>	
<ul  class="nav nav-pills">
			<li class="active">
        <a  href="#1a" data-toggle="tab">Overview</a>
			</li>
			<li><a href="#2a" data-toggle="tab">Schedule</a>
			</li>
			<li><a href="#3a" data-toggle="tab">Results</a>
			</li>
  		<li><a href="#4a" data-toggle="tab"> Rules </a>
			</li>
			<li><a href="#5a" data-toggle="tab"> Theme </a>
			</li>
			<li><a href="#6a" data-toggle="tab"> Register </a>
			</li>
		</ul>

			<div class="tab-content clearfix" style="background-color: #000;">
			  <div class="tab-pane active" id="1a">
      
          <div class="row">
          	<div class="col-md-6 col-sm-6" style="text-align: center;">
          		<h1 style="color: #fff;" >Humble Web</h1>
          		<hr>
          		<br>
          		<p> Harsha Suryanarayana, known as HUMBLEFOOL into the coding community, and as "Lord" by his friends and family, was the best coder in India. He was one of the first red coders (TopCoder) from the country and remained at the zenith until his last SRM.  Contrary to the convention, he went on making Dynamic Programming his strongest skill. He was the TCO finalist twice and GCJ once. Humblefool was a man of passion. He gave up his job in Microsoft only to train his college team for ACM ICPC.
          		</p>
          		<p>
				Inspired by Harsha’s passion, we here at TechniiC, invoke passionate coders from all the colleges across Jabalpur to come up and participate in this Web Development Competion,  "HumbleWeb”. This competition is being conducted by the technical club, TechniiC in association with Udgam. Focusing on the begginers and on those who want to start learning web development we are inviting applications for a portfolio site. The participants are going to work single-handedly over the task, i.e., to create a pseudo-portfolio site, with single or multiple pages. This competition will be judged by the technical team of the Club, and the winners will be awarded exciting prices worth over 2k.
				</p>
			   
          	</div>
          	<div class="col-md-6 col-sm-6">
          		<img src="/img/humbleweb1.jpg" style="width: 100%; height: 120%; box-shadow: 11px 11px 16px #111;">
          	</div>

          </div>
				</div>
				<div class="tab-pane" id="2a">
				<div class="row">
					<div class="col-sm-6 col-md-6" style="text-align: center;">
						<h3 style="color: #fff;">Activity</h3>
						<hr>
						<h4 style="color: #fff;">Registration & Payment</h4>
						<h4 style="color: #fff;"> Submissions</h4>
						<h4 style="color: #fff;"> Result Declaration</h4>

					</div>
					<div class="col-md-6 col-sm-6" style="text-align: center;">
						<h3 style="color: #fff;">Dates</h3>
						<hr>
						<h4 style="color: #fff;">17 Jan 2019 - 26 Jan 2019 11:59 PM</h4>
						<h4 style="color: #fff;">19 Jan 2019 - 26 Jan 2019 11:59 PM</h4>
						<h4 style="color: #fff;">28 Jan 2019</h4>
					</div>

				</div>
				<!-- <h1 style="color: #DD0A37;">Registration  </h1>
          <h1>  <pre style="text-align: center;"> Date : 13 Oct 2018</pre ></h1>
          <h1>  <pre style="text-align: center;"> Time : 8:00PM - 10:00PM</pre></h1> -->
				</div>

				 <div class="tab-pane" id="3a">
          <h1 style="color: #fff;"> Winners-</h1>

			<ol style="list-style-type: upper-roman; margin-left: 40px;">
			<li > <pre style="font-weight: bold;
		    font-size: medium;">Mr. Priyanshu Shrivastava  (CSE 1st Year)</pre></li>
		    <li > <pre style="font-weight: bold;
		    font-size: medium;">Mr. Jatin Lodhi  (EC 1st Year)</pre></li>
		    <li > <pre style="font-weight: bold;
		    font-size: medium;">Ms. Shimoni Patel  (IT 1st Year)</pre></li>
		    <br>
			</ol>
				</div>



     
          <div class="tab-pane" id="4a">
          <ul style="list-style-type: upper-roman; margin-left: 30px; color: #66FFFF;">
          <li>The participants are requested to make their portfolio website using HTML and CSS strictly. Use of any other language or platform is prohibited. Any submission found using languages other than HTML and CSS will be directly disqualified. </li>
          <br>
          <li>The participants must name their homepage as, “index.html”. In case, the websites contain multiple pages, the other web pages must be stored in a separate “template” folder and css file should be named as "style.css" and must be in the "css" folder. The 
          participants are expected to make maximum use of their technical knowledge and creativity.</li>
          <br>
          <li>The submissions will be made strictly in the format of a zip file, before the due date.</li>
          <br>
          <li>The submissions will be accepted from 19th January, midnight, till 23rd January, 11:59PM.</li>
          <br>
          <li>The submissions done without paying the registrations fee will not be considered as a valid entry.</li>
          <br>
          <li>The zip file should be named as the name of competing participant.</li>
          <br>
          <li>While making the payment you have to write your name in the paytm description.</li>
          <br>
          <li>You have to upload ypopur zip file on the google drive and then share the drive link at techniic2019@gmail.com</li>
          <br>
          </ul>
          <h4>Note: Violation of any of the above rules will result in disqualification.</h4>
				</div>


			<div class="tab-pane" id="5a">
          <span><h1 style="color: #DD0A37; text-align: center; "> Portfolio Site</h1></span>
         <hr>
         <span style="text-align: center;">The purpose of an online portfolio is to give a prospective client, like an art director, a sense of who you are, what you can do and whether you are the person they should hire to execute their project</span>
         <br>
         <br>
         <ul style="list-style-type: circle; margin-left: 45px;" >
         	<li>Keep Your Objectives. </li>
         	<li>Stick to simplicity.</li>
         	<li>Be sure to provide ease at use.</li>
         	<li>Don't overdo it.</li>
         	<li>Pay attention to technology.</li>
         	<li> Include your contact.</li>
         	<li>The power of testimonials.</li>
         	<h3 style="color: #044060;">Bonus:  Be Unique.</h3>
  
         </ul>
         <h2 style="color: #044060;">Examples of Portfolio Site</h2>
         <ul style="margin-left: 40px; list-style-type: circle; color: #044060;">
         	<li><a style="color: #044060;" href="https://tinyurl.com/shadrul" target="_blank"> Shadrul</a></li>
         	<li><a style="color: #044060;" href="http://satyampatidar.github.io/" target="_blank"> Satyam Patidar</a></li>
         </ul>
         <hr>
         <h4 style="color: #ff0000;">Note: These are just examples to give you an idea about what actually a portfolio site is. Don't try to make exact these type of sites as these site contains many high level frameworks and languages. Try to stick at HTML and CSS.</h4>
				</div>


		<div class="tab-pane" id="6a" style="text-align: center;">
          <h2 style="color: #fff; ">Register At: 
          <a href="http://tinyurl.com/humbleweb" style="color: #66FFFF;  " target="_blank" > http://tinyurl.com/humbleweb</a></h2>
          <hr>
          <h5 style="color: #ff0000;">Note: Please pay the registration amount(₹30) at the below mentioned paytm number-</h5>
          <h5 style="color: #337AB7;">8770129865</h5>
          <h5 style="color: #337AB7;">7000995157</h5>
				</div>
			</div>
  </div>
  <br>

  <!-- Footer -->
	<footer id="footer" style="background-color: #000">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">

				<!-- footer logo -->
				<div class="col-md-4 col-md-push-4">
					<div class="footer-brand">
						<a class="logo" href="index.html">
							<img class="logo-img" src="./img/techniiclogo2.png" alt="logo">
						</a>
					</div>
				</div>
				<!-- /footer logo -->

				<!-- contact social -->
				<div class="col-md-4 col-md-push-4">
					<div class="contact-social">
						<a href="https://m.facebook.com/techniic/?ref=bookmarks"><i class="fa fa-facebook"></i></a>
						<a href="https://www.instagram.com/techniic_2k19/"><i class="fa fa-instagram"></i></a>
			<!-- 			<a href="#"><i class="fa fa-google-plus"></i></a>
						<a href="#"><i class="fa fa-instagram"></i></a>
						<a href="#"><i class="fa fa-pinterest"></i></a>
						<a href="#"><i class="fa fa fa-linkedin"></i></a> -->
					</div>
				</div> 
				<!-- /contact social -->

				<!-- copyright -->
				<div class="col-md-4 col-md-pull-8">
					<span class="copyright">
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved by TechniiC. </span>				
					</div>
				<!-- /copyright -->

			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</footer>
	<!-- /Footer -->

<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
  
  </body>
  </html>

